body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header{
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.logo {
  flex-grow: 1;

}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav {
  text-decoration: underline;
  margin: 10px;
}
